.style-card img {
    transition: transform 0.4s ease ;
}
.style-card:hover img {
    transform: scale(1.05);
}

.style-card.small {
  grid-column: span 2; 
}

.style-card.large {
  grid-column: span 4;
} 
@media screen and (max-width: 768px) {
    .sectionn {
        padding: 1rem !important;
    }
    .h1 {
        font-size: 3rem !important;
    }
    .style-grid {
    grid-template-columns: repeat(1, 1fr) !important;
    }
    .style-card.small,
    .style-card.large {
    grid-column: span 1;
    }
}
